* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }  

body {
    font-family: "Open Sans";
    background-color: #f9fafc;
}

.content {
    padding: 10px;
}

a.nav-link {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 10px;
    color: #69696a;
    text-decoration: none;

}

a.nav-link-chirpus {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 10px;
    color: #000;
    text-decoration: none;
}

.nav-link-chirpus:visited {
    color: #000;
    text-decoration: none;
}

.nav-bar {
    margin-bottom: 10px;
}

.nav-link:visited {
    color: #69696a;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    padding: 5px 0;
    font-size: 10px;
    color: #FFF;
    background-color: #000;
    width: 350px;
    border-radius: 30px;
}

p {
    border-left: 3px solid #69696a;
    margin: 0 0 10px 10px;
    padding-left: 10px;
    width: 350px;
    font-size: 12px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    color: #000;
}

.footer-chirpus {
    line-height: 1px;
}

.footer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
}

.footer-links {
    display: flex;
    column-gap: 6px;
}

.footer-link {
    flex-direction: column;
    font-size: 10px;
    color: #69696a;
    text-decoration: none;  
}

@media screen and (min-width: 768px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 100px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .nav-right {
        display: flex;
        justify-content: right;
        margin-right: -20px;
    }

    .nav-button {
        width: 50px;
        margin-left: 2px;
    }

    .body-content {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .circle-pink {
        width: 150px;
        height: 150px;
        background-color: pink;
        border-radius: 50%;
        opacity: 75%;
    }

    .circle-orange {
        width: 100px;
        height: 100px;
        background-color: orange;
        border-radius: 50%;
        opacity: 65%;
    }

    .circle-purple {
        width: 50px;
        height: 50px;
        background-color: purple;
        border-radius: 50%;
        opacity: 50%;
    }

    }
